user_uuid="07e7caa5-671d-481a-b140-c98fd596b1b9"
bucket_name="mg2u96ydlidxfj7s"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
content_version = 1