terratowns_endpoint="https://terratowns.cloud/api"
english_food = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/english_food"
  content_version = 2 
}
home2 = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/home2"
  content_version = 1 
}